/*@import url('https://fonts.cdnfonts.com/css/westfalia');*/
*{
    font-size:16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color:white;
    background:black;    
}
iframe-container-for-wxh-500x350 {
    padding: 25px 25px 70% 25px;
    /* padding-bottom = h/w as a % */
  }
  
  .iframe-container iframe {
    position: relative;
    top: 50;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200%;
    height: 100%;
    border: none;
  }