<body>
    <div class = "flex-container">
        <div class = "first-card">
            <a href = "https://www.chess.com/member/basesetpokemon" target = "_blank">
            <img src = "assets/images/knight.jpg" alt = "image">
            <div class="first-card-content">
               <h1>Challenge me to a chess game!</h1> 
               <!-- this is the line below the card-->
            </div>
            </a>
        </div>

        <div class = "second-card">
            <a href = "https://github.com/mliu1076" target = "_blank">
            <img class = "cat" src = "assets/images/github.png" alt = "image">
            <div class="second-card-content">
               <h2>GitHub: @mliu1076</h2> 
               <!-- this is the line below the card-->
            </div>
            </a>
        </div>

        <div class = "third-card">
            <a download = "max_resume.pdf" href = "/assets/max_resume.pdf">
            <img class = "document" src = "assets/images/resume.png" alt = "image">
            <div class="third-card-content">
               <h2>Download Resume</h2> 
               <!-- this is the line below the card-->
            </div>
            </a>
        </div>
    </div>
</body>