* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    animation:
        reveal ease-in-out forwards 2s;
}

@keyframes reveal {
    from {
        opacity: 0; 
    }
    to { 
        visibility: visible;
        opacity: 1;
    }
}
.flex-container{
    margin-top:5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: inherit;
}

body{
    display: inline;
    place-items: center start;
    min-height: 100vh;
    background-color: black;
}

.first-card{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: white;
    border-radius: 0.2rem;
    width: 200px;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.first-card-content {
    font-size: 8px;
    display: center;
    position: relative;
    top: -25px;
    transform: translate(150%, -50%);
    background-color: black;
    padding: 10px 10px;
    color: white;
    text-align: left;
    transition: 200ms ease-in-out transform;

}

.first-card:hover .first-card-content{
    transform: translate(-5%, -40%);
}

.first-card:hover img {
    transform: scale(1.05);
}

.second-card{
    margin: 10px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: white;
    border-radius: 0.2rem;
    width: 230px;
    height:300px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 200ms ease-in-out transform,
                200ms ease-in-out filter;
}


.second-card-content {
    font-size: 10px;
    position: absolute;
    top: 275px;
    transform: translate(250%, -150%);
    background-color: black;
    padding: 5px 5px;
    color: white;
    text-align: right;
    transition: 200ms ease-in-out transform;

}

.second-card:hover .second-card-content{
    transform: translate(0, -50%);
}

.second-card:hover img {
    transform: scale(1.04);
}

.third-card{
    margin: 10px;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: white;
    border-radius: 0.2rem;
    width: 230px;
    height:300px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.third-card-content {
    font-size: 10px;
    position: absolute;
    top: 275px;
    transform: translate(250%, -150%);
    background-color: black;
    padding: 5px 5px;
    color: white;
    text-align: right;
    transition: 200ms ease-in-out transform;

}

.third-card:hover .third-card-content{
    transform: translate(0%, -40%);
}

.third-card:hover img {
    transform: scale(1.04);
}