.circular {
  display: flex;
}

.circular img {
  margin-top:10vh;
  position:relative;
  display: flex;
  margin-left: 10%;
  object-fit: contain;
  border-radius: 100%;
  width: auto;
  overflow: hidden;
  height:auto;
  visibility: hidden;
  animation: reveal ease-in-out forwards 2s;
}

.circular .about {
  margin-top: 10vh;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  display: flex;
  white-space: normal;
  overflow: auto; 
  visibility: hidden;
  animation: reveal ease-in-out 0.4s forwards 1.7s; 
}
.circular .chessboard-link {
    visibility: hidden;
    display: none; 
  }

.circular .chessboard {
  margin-left: 10vh;
  max-height:100%;
  margin-top: 5vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

iframe {
  display:block;
  width: 100%;
  height: 100vh;
  max-height: 60vh;
  visibility:hidden;
  border:none;
  animation: reveal ease-in-out 0.4s forwards 1.7s;
}

@media (max-width: 768px) {
 .circular .chessboard{
    visibility: hidden;
    display: none; 
  }

  .circular .chessboard-link {
        animation: reveal ease-in-out 0.4s forwards 2s;
        flex-direction: column;
        display: flex; 
        padding: 1px 1px;
        margin-left:15vh;
        max-height:15vh;
        width:fit-content;
        text-align: center;
        margin-top:10px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 1px;
    }

    .chessboard-link:hover {
        background-color: darkblue;
    }
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

footer {
  color: white;
  font-size: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
  visibility: hidden;
  animation: reveal ease-in-out forwards 2s;
}
