<html>
<header>
    <intro></intro>
    <div class="circular">
        <img class="profile" src="assets/images/profile.png" alt="image">
         <div class="container">
        <span class="about">Hey, I'm Max, I recently graduated at UMD in Information Science, specializing in data science. I am looking for data science roles and have done projects in Tableau, R and Python, which are published on my GitHub. In my freetime, I enjoy running, reading, and playing strategy games such as Chess. Below is one of my most interesting games from 2023:</span>
        <a href="https://lichess.org/embed/game/8XX4UlQ3?theme=auto&bg=auto" class="chessboard-link"> Link to one of my best chess games.</a>
        <div class="chessboard">
           <iframe src="https://lichess.org/embed/game/8XX4UlQ3?theme=auto&bg=auto"
width=500 height=397 frameborder=0></iframe>
        </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <button-menu></button-menu>
    <app-menu></app-menu>
</header>
<footer>

</footer>

</html>