@import url('https://fonts.cdnfonts.com/css/westfalia');


*{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    overflow-y:hidden;
}

head{
    display: inline;
    place-items: center start;
    min-height: 100vh;
    background-color: black;
}
.about-button{
    top:0;
    right: 90%;
    display:block;
    visibility: hidden;
    color:white;
    animation: 1s reveal forwards 1.5s;
}

@keyframes reveal {
    from {
        translate: (0,100%);
        opacity: 0; 
    }
    to {
        transform: translate(1190px,-50px);
        visibility: visible;
        opacity: 1;
    }
}

a{
    color:inherit;
}